@import '../../../variables.scss';

// Make it slightly darker to make it easier to see.
$uppercase-color: darken($theme-color, 15%);

$arrow-line-width: 0.35em;

.shift-key-icon {
  display: flex;
  flex-direction: column;
  justify-conten: center;
  align-items: center;

  .shift-arrow-triangle {
    width: 0;
    height: 0;
    border-left: 0.45em solid transparent;
    border-bottom: 0.45em solid white;
    border-right: 0.45em solid transparent;

    &.shift-arrow-colored {
      border-bottom-color: $uppercase-color;
    }
  }
  .regular-arrow-line {
    height: 0.6em;
    width: $arrow-line-width;
    background-color: white;

    &.shift-arrow-colored {
      background-color: $uppercase-color;
    }
  }

  .caps-lock-arrow-line {
    .caps-lock-line-top {
      height: 0.3em;
      width: $arrow-line-width;
      background-color: $uppercase-color;
    }
    .caps-lock-line-middle {
      height: 0.2em;
    }
    .caps-lock-line-bottom {
      height: 0.1em;
      width: $arrow-line-width;
      background-color: $uppercase-color;
    }
  }
}
