@import '../../variables.scss';

.keyboard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  .num-pad-container {
    flex: 1 1 15%;
  }

  .center-board-container {
    flex: 1 1 55%;
  }

  .right-pad-container {
    flex: 1 1 15%;
  }

  .board-margin {
    flex: 1 1 2.5%
  }

  .enter-key-area {
    height: 100%;
    flex: 1 1 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .backspace-icon {
      width: 60%;
      border-radius: 0.5rem;

      &:hover {
        background-color: lighten($keyboard-color, 70%);
      }

      img {
        width: 100%;
      }
    }

    .return-key-container {
      width: 60%;
      padding-top: 10px;
      $return-key-color: #0099ff;

      .return-key-component {
        border-radius: 50%;
        background-color: $return-key-color;

        &:hover, &.hover {
          background-color: darken($return-key-color, 5%);
        }
      }

      .return-key {
        width: 100%;
        padding-top: 100%; /* 1:1 Aspect Ratio */
        position: relative;
        border-radius: 50%;
        pointer-events: none; /* For the Oculus Go hover workaround. */
      }
    }

    .voice-button-container {
      width: 60%;
      padding-top: 15px;
    }

    .return-key-text {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 45px;
        font-weight: bold;

        img {
          width: 60%;
        }
    }
  }
}
