html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Ariel, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

// For Gecko only, set the background color
// to black so that AndroidViewportShader
// can translate the black pixels to transparent.
@supports (-moz-appearance:none) {
  body {
    background-color: black;
  }
}

#root {
  width: 100%;
  height: 100%;
}

